/*common css start*/
body{
	margin:0;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*common css end*/


/*header start*/
header{
	padding: 30px 0;
	/*border-bottom: 1px solid;*/
}
.container{
	overflow:hidden;
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid red;*/
}
.logo{
	margin-top: 7px;
	float: left;
	width: 13%;
	/*border: 1px solid red;*/
}
.logo a{
	display: block;
}
.logo a img{
	width:100%;
}
.menu{
	float: right;
	width: 65%;
	/*border: 1 px solid red;*/
}
.menu ul{
	float: right;
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	display: inline-block;
	margin: 0 50px;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
/*header end*/


/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width: 100%; 
}
/*banner end*/


/* perfect start*/
.perfect{
	padding: 100px 0 40px;
}
.container2{
	margin: 0 auto;
	overflow: hidden;
	width: 80%;
	/*border: 1px solid;*/
}
.p_content{}
.c_light{
	margin: 0;
	font-family: "Ubuntu" , sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}
.c_title{
	margin: 15px 0 20px;
	font-size: 30px;
	font-weight: 400;
}
.c_p{
	margin:0;
	line-height: 24px;
}
.c_link{
	margin-top: 35px;
	display: block;

	color: #626262;
	text-decoration: none;
}
/*perfect end*/


/*blog start*/
.blog{
	padding: 0 0 100px;
}
.sb_item{
	margin-top: 60px;
	float: left;
	box-sizing: border-box;
	width: 47%;
	/*border: 1px solid red;*/
}
.sb_item:nth-child(even){
	margin-left: 6%;
}
.sb_img{
	margin-bottom: 25px;
}
.sb_img img{
	width: 100%;
}
/*blog end*/


/*newsletter start*/
.news{
	background-color: #f0f0f0;
	padding: 70px 0;
}
.signup{
	text-align: center;
}
.s_h1{
	color:#333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	position: relative;
	width: 400px;
	/*border: 5px solid red;*/
	margin: 0 auto;
}

.s_form input{
	font-family: "Playfair Display", serif;
	font-size: 14px;
    color: #626262;
    width: 345px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    padding-left: 5px;
    padding-right: 45px;
}

.s_form input:focus{
	outline: 0;
}

.s_form button{
	position: absolute;
	background: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
}

.s_form button:focus{
	outline: 0;
}
.s_form button img{}
/*newsletter end*/

/* blog2 start */
.blog2{
	margin-top: 100px;
}

/* load more start */
.load{}
.container3{
    text-align: center;
    height: 300px;
}
.container3 button{
    padding:30px 70px;
    font-size: 24px;
    font-weight: 400;
    border: none;
    border: 1px solid #626262;
    background:transparent;
    cursor: pointer;
    transition:.33s;
    
}
.container3 button:hover{
    color:white;
    background-color: #626262;
    border: 1px solid #ffffff;  
}
/* load more end */

/* blog2 end */


/*footer start*/
footer{
    background-color: #f0f0f0;
    padding: 20px 0;
    /*border: 1px solid navy;*/
}
.footer-container{
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    /*border: 1px solid red;*/
    
}
.pages{
    float: left;
    width: 23%;
}
.pages ul{
    float: left;
    padding: 0;
    
}
.pages ul li{
    float: left;
    list-style: none; 
}
.pages ul li a{
    display: block;
    margin-right: 35px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color:#000000; 
    transition: .33s;
}
.pages ul li a:hover{
    /* adds hover effect to footer links */
    color: #626262;
    border-bottom: 1px solid black;
}
.pages ul li:last-child a{
    margin-right: 0;
}

.social-icons{
    width: 22%;
    float: right;    
}
.social-icons ul{
    float:right;
    padding: 0;
}

.social-icons li {
    float: left;
    list-style: none;
    color:#000000; 
    margin: 0 15px; 
}
.social icons ul li a {
display: block;    

}
.social icons ul li a img{}

.social icons ul li:last child a{
    margin-right: 0;
}
/*footer end */
